
<html>
	<head>
		<title>Course Manager</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
		<link rel="stylesheet" href="../static/foundation/css/foundation.css">
        <script src="js/vendor/custom.modernizr.js"></script>
<!-- Jquery UI stuff -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
var availableTags = ['CS 100', 'CS 101', 'CS 105', 'CS 125', 'CS 126', 'CS 173', 'CS 196', 'CS 199', 'CS 210', 'CS 225', 'CS 233', 'CS 241', 'CS 242', 'CS 296', 'CS 357', 'CS 361', 'CS 374', 'CS 397', 'CS 411', 'CS 412', 'CS 413', 'CS 418', 'CS 420', 'CS 421', 'CS 424', 'CS 425', 'CS 426', 'CS 427', 'CS 431', 'CS 433', 'CS 438', 'CS 439', 'CS 440', 'CS 446', 'CS 450', 'CS 461', 'CS 465', 'CS 466', 'CS 476', 'CS 477', 'CS 481', 'CS 483', 'CS 491', 'CS 492', 'CS 498', 'CS 499', 'CS 519', 'CS 523', 'CS 527', 'CS 541', 'CS 548', 'CS 549', 'CS 556', 'CS 563', 'CS 571', 'CS 575', 'CS 591', 'CS 597', 'CS 598', 'CS 599'];
$( "#tags" ).autocomplete({
source: availableTags
});
});
</script>
	</head>
	<body>
		<section>
     		<div class="flex-video widescreen vimeo">
     		<video autoplay="" loop="" poster="" id="bgvid" controls muted>
      			<source src="../static/slow-promo-video.m4v" type="video/mp4">
			</video>
		</div>
		<div id='container'>
			<br>
			<div id="custom-message">
			<div class="row">
    <div class="large-12 large-centered small-12 small-centered medium-12 medium-centered columns">
			<center>
			<div id='heading'>Course Explorer</div>
		</center>
		</div>
	</div>
			<p>

			</p>
			<li class="has-form">
                <div class="row collapse">
                    <div class="large-8 small-9 columns ui-widget">
                        <input type="text" placeholder="Enter CS Class" id="tags">
                    </div>
                <div class="large-4 small-3 columns">
                    <input class="button small alert" type="submit" onClick='submitDetailsForm()'></input>
                </div>
            </div>
        </li>
		<br>
	</br>
	</div>

			<div id="wrapper">
				<div id="footer">A Project by CS410 Students.</div>
			</div>
		<script>
document.write('<script src=' +
('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
'.js><\/script>')
</script>
<script src="../static/foundation/js/foundation.min.js"></script>
<script>
$(document).foundation();
</script>
<script src="../static/js/code.js"></script>
</body>
</html>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
		<section>
	</section>
</html>